@import "../../../variables";
#vertexOptions{
    @include flexCenter( column );
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 1080px;
    height: 720px;
    height: auto;
    padding: 50px;
    z-index: 500;
    background-color: $g;
    border: 5px solid $b;
    display: none;
    justify-content: center;
    transform: translate(-50%, -50%);
    .cancel{
        width: auto;
        position: fixed;
        right: 30px;
        top: 30px;
        color: $dr;
        border-color: $dr;
        border-width: 2px;
        background-color: $r;
        transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
        &:hover{
            color: $r;
            border-color: $r;
            background-color: $dr;
        }
    }
    .h{
        display: block;
    }
    h1{
        order: 1;
        color: $b;
        width: auto;
        text-align: center;
        font-size: 60px;
        margin: 10px;
        padding: 0;
    }
    .vname{
        order: 2;
        color: white;
        width: auto;
        text-align: center;
        font-size: 40px;
        margin: 10px;
        padding: 0;
    }
    .voptions{
        order: 3;
        @include flexCenter( row );
        justify-content: space-evenly;
        width: 100%;
        height: 350px;
        border-color: $b;
        border-width: 5px;
        .voption{
            width: calc( 80% / 3 );
            width: 240px;
            height: 100%;
            color: $b;
            margin: 0;
            padding: 0;
            background-color: $db;
            transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
            &:hover{
                color: $db;
                border-color: $db;
                background-color: $b;
            }
            h3{
                margin: 0;
                padding: 0;
                color: inherit;
            }
        }
        .prey{
            color: $db;
            border-color: $db;
            border-width: 5px;
            background-color: $lb;
            transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
            &:hover{
                color: $b;
                border-color: $b;
                background-color: $db;
            }
        }
        .delete{
            color: $r;
            border-color: $r;
            border-width: 5px;
            background-color: $g;
            transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
            &:hover{
                color: $g;
                border-color: $g;
                background-color: $r;
            }
        }
        
    }
}