* {
  font-family: 'Montserrat', sans-serif;
}

#vertexOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 1080px;
  height: 720px;
  height: auto;
  padding: 50px;
  z-index: 500;
  background-color: #1d1d1b;
  border: 5px solid #12F5FE;
  display: none;
  justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#vertexOptions .cancel {
  width: auto;
  position: fixed;
  right: 30px;
  top: 30px;
  color: #43000d;
  border-color: #43000d;
  border-width: 2px;
  background-color: #ff0e3f;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
}

#vertexOptions .cancel:hover {
  color: #ff0e3f;
  border-color: #ff0e3f;
  background-color: #43000d;
}

#vertexOptions .h {
  display: block;
}

#vertexOptions h1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  color: #12F5FE;
  width: auto;
  text-align: center;
  font-size: 60px;
  margin: 10px;
  padding: 0;
}

#vertexOptions .vname {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: white;
  width: auto;
  text-align: center;
  font-size: 40px;
  margin: 10px;
  padding: 0;
}

#vertexOptions .voptions {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 350px;
  border-color: #12F5FE;
  border-width: 5px;
}

#vertexOptions .voptions .voption {
  width: calc( 80% / 3);
  width: 240px;
  height: 100%;
  color: #12F5FE;
  margin: 0;
  padding: 0;
  background-color: #004F53;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
}

#vertexOptions .voptions .voption:hover {
  color: #004F53;
  border-color: #004F53;
  background-color: #12F5FE;
}

#vertexOptions .voptions .voption h3 {
  margin: 0;
  padding: 0;
  color: inherit;
}

#vertexOptions .voptions .prey {
  color: #004F53;
  border-color: #004F53;
  border-width: 5px;
  background-color: #B4FCFF;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
}

#vertexOptions .voptions .prey:hover {
  color: #12F5FE;
  border-color: #12F5FE;
  background-color: #004F53;
}

#vertexOptions .voptions .delete {
  color: #ff0e3f;
  border-color: #ff0e3f;
  border-width: 5px;
  background-color: #1d1d1b;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
}

#vertexOptions .voptions .delete:hover {
  color: #1d1d1b;
  border-color: #1d1d1b;
  background-color: #ff0e3f;
}
/*# sourceMappingURL=vertexOptions.css.map */